.req-text {
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: none;
  margin-left: 1.5rem;
}

.underline-style::after {
  /* content: "";
  display: block;
  width: 7rem;
  padding-top: 3px;
  border-bottom: 0.5rem solid #ff1000; */

  content: "";
  display: block;
  width: 6rem;
  height: 0.5rem;
  background-color: #ff1000;
}
hr {
  margin: 0;
  width: 4rem;
  height: 5px;
  background-color: #ff1000;
  border: none;
  color: #ff1000;
}
.form-labelss {
  display: block;
  color: #000;
  font-size: 1.1rem;
  padding-bottom: 4px;
  margin-left: 1.5rem;
}

/* label {
  margin-left: 1.5rem;
} */

.form-inputs1 {
  text-indent: 2px;
  outline: none;
  width: 36.5rem;
  height: 9rem;
  border-radius: 5px;
  border: 0.2px solid lightslategrey;
  margin-left: 1.5rem;
}

.checkbox-style {
  /* width: 3rem;
  height: 3rem; */
  cursor: pointer;
  display: inline;
  border: 1px solid lightslategray;
  border-radius: 6px;
  padding: 8px;
}

.checkbox-style-left {
  margin-left: 1.5rem;
}

/* div > span:first-child{
  margin-left: none;
} */

.checkbox-style:hover {
  background-color: lightgray;
  cursor: pointer;
}

.checkbox-input {
  margin-right: 3px;
}

.req-btn {
  width: 36.5rem;
  height: 2.5rem;
  color: antiquewhite;
  background-color: #843477;
  justify-content: center;
  margin-top: 1.2rem;
  /* margin-left: 10rem; */
  border-radius: 5px;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1.5rem;
  border-color: antiquewhite;
}

.req-btn:hover {
  background-color: wheat;
  color: black;
}


@media (min-width: 950px) {
}

@media (min-width: 601px) and (max-width: 950px) {
  .req-text {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: none;
    margin-left: 1.5rem;
  }

  .underline-style::after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.3rem;
    background-color: #ff1000;
  }

  .form-labelss {
    display: block;
    color: #000;
    font-size: 1.1rem;
    padding-bottom: 4px;
    margin-left: 1.5rem;
  }

  .checkbox-style {
    /* width: 3rem;
  height: 3rem; */
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    font-size: 0.96rem;
    width: 9rem;
    border: 1px solid lightslategray;
    border-radius: 6px;
    padding: 8px;
  }

  .form-inputs1 {
    width: 600px;
    max-width: 100%;
    display: block;
  }

  .req-btn {
    width: 600px;
    max-width: 100%;
    display: block;
  }
}

@media (min-width: 361px) and (max-width: 600px) {
  .req-text {
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: none;
    margin-left: 1.5rem;
  }

  .underline-style::after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.3rem;
    background-color: #ff1000;
  }

  .form-labelss {
    display: block;
    color: #000;
    font-size: 1.2rem;
    padding-bottom: 4px;
    margin-left: 1.5rem;
  }

  .checkbox-style {
    /* width: 3rem;
  height: 3rem; */
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    font-size: 0.9rem;
    width: 9rem;
    border: 1px solid lightslategray;
    border-radius: 6px;
    padding: 8px;
  }

  .form-inputs1 {
    width: 400px;
    max-width: 100%;
    display: block;
  }

  .req-btn {
    width: 400px;
    max-width: 100%;
    display: block;
  }
}
