.task-text {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.task-text::after{
  content: "";
  display: block;
  width: 2rem;
  height: 0.5rem;
  background-color: #ff1000;
}
.task-search{
  display: flex;
  justify-content: space-between;
}
.icon-button{
  width: 3rem;
    height: 2.5rem;
  background-color: #843477;
  color: #fff;
  border: none;
}
.form-input4 {
  text-indent: 2px;
  outline: none;
  width: 20rem;
  height: 2.5rem;
  border: 0.2px solid lightgrey;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.task-select{
  margin-left: 1rem;
  margin-top: 1rem;
  width: 10rem;
  height: 2.5rem;
  border: 0.2px solid lightgrey;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: .5em;
  cursor: pointer;
}

.tables {
  border-bottom: 0.5px solid lightgrey;
  display: inline-table;
}

.table-icon {
  font-size: large;
  cursor: pointer;
}

.table-icon:hover {
  color: #ff1000;
  transition: 0.4ms;
}

.icon-style {
  margin-left: 1rem;
}

.tick-container{

}

.tick-container ul {
  padding: 0px;
  margin: 0px;
  display: none;
  /* border: 1px solid black;
  background-color: gray; */
}
.tick-container ul:hover {
  /* position:relative;
  margin-top: -10px;
  width: 3rem; */
}
.tick-container ul button {
  display: inline-block;
  list-style-image: none;
  margin-left : 0.5rem;
  margin-top: 0.5rem;
  padding: 0px;
  height: 1.5rem;
  width: 5rem;
  border-radius: 4px;
}

.tick-container ul button:first-child {
  margin-left: 0px;
}


.tick-container ul button:hover {
  background-color: #843477;
  color: wheat;
}
.tick-container ul:hover button {
  /* color: red;
  display: inline;
  margin-bottom: 0px; */

}
.colored {
  background-color: lightgrey;
}

.colored-head {
  background-color: lightgrey;
}

.thead {
  font-size: 16px;
  font-weight: none;
}

.tbody {
  font-size: 15px;
}

@media (min-width: 1201px) {
  
}

@media (min-width: 601px) and (max-width: 1200px) {
  
}

@media (min-width: 401px) and (max-width: 600px) {
  
}

@media (min-width: 361px) and (max-width: 400px) {
 .task-text{
  font-size: 1.5rem;
 }

 .form-input4{
  width: 9rem;
  height: 1.8rem;
 }
 
 .icon-button{
  height: 1.8rem;
  width: 2rem;
 }
  .task-div, .task-select{
  display: block;
  margin-left: 0px;

  }
 }
