.task-text {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.task-text::after{
  content: "";
  display: block;
  width: 2rem;
  height: 0.5rem;
  background-color: #ff1000;
}
.task-search{
  display: flex;
  justify-content: space-between;
}
.icon{
  width: 3rem;
    height: 2.5rem;
  background-color: #843477;
  color: #fff;
  border: none;
}
.form-input4 {
  text-indent: 2px;
  outline: none;
  width: 20rem;
  height: 2.5rem;
  border: 0.2px solid lightgrey;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.task-select{
  margin-left: 1rem;
  margin-top: 1rem;
  width: 10rem;
  height: 2.5rem;
  border: 0.2px solid lightgrey;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: .5em;
  cursor: pointer;
}

.tables {
  border-bottom: 0.5px solid lightgrey;
  /* display: inline; */
  margin-top: 2em;
}

.table-icon {
  font-size: large;
  cursor: pointer;
}

.table-icon:hover {
  color: #ff1000;
  transition: 0.4ms;
}

.icon-style {
  margin-left: 1rem;
}

.colored {
  background-color: lightgrey;
}

.colored-head {
  background-color: lightgrey;
}

.thead {
  font-size: 16px;
  font-weight: none;
}

.tbody {
  font-size: 15px;
}

.request-popup{
  display: none;
}