.task-text {
  font-size: 1.8rem;
  text-decoration: underline solid #ff1000 1rem;
  margin-bottom: 1rem;
}

.first-div-task {
  margin-left: 1.5rem;
}
.task-div {
  /* margin-top: 1rem; */
  margin-left: 16rem;
  display: inline;
}

.task-p {
  display: inline;
  cursor: pointer;
  /* text-decoration: underline solid 0.1rem; */
}

.task-p:hover {
  text-decoration: underline solid #ff1000 0.1rem;
  /* color: #843477; */
  transition: 0.4ms;
}

.pending {
  margin-left: 30px;
}
.top-box {
  height: 8rem;
  border: 0.5px solid lightslategray;
  border-radius: 15px;
  margin-bottom: 2rem;
  background-color: lightgray;
}

.form-input4 {
  text-indent: 2px;
  outline: none;
  width: 40rem;
  height: 2.5rem;
  border: 0.2px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.tables {
  border-bottom: 0.5px solid lightgrey;
  display: inline;
}

.table-icon {
  font-size: large;
  cursor: pointer;
}

.table-icon:hover {
  color: #ff1000;
  transition: 0.4ms;
}

.icon-style {
  margin-left: 1rem;
}

.colored {
  background-color: lightgrey;
}

.colored-head {
  background-color: lightgrey;
}

.thead {
  font-size: 16px;
  font-weight: none;
}

.tbody {
  font-size: 15px;
}

.request-popup{
  display: none;
}