body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.class-div {
  display: inline-block;
  text-align: end;
}


.fa-div1 {
  margin-right: auto;
  /* padding-top: 1rem; */
  /* padding-right: 2rem; */
}


.iconic1 {
  color: #ffffff;
  font-size: xx-large;
  margin-left: 1rem;
}

.iconic1:hover {
  cursor: pointer;
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #843477;
  overflow-x: hidden;
  padding-top: 30px;
  text-align: center;
  /* margin: 10px;
  padding: 20px; */
}

.icon4 {
  margin-bottom: 0.5rem;
}
.sidenav a {
  padding: 23px 0px 20px 0px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #843477;
  background-color: #d9d9d9;
  cursor: pointer;
}

.is-active {
  color: #000;
  background-color: #d9d9d9;
}

/* .sidenav a:current {
  color: #843477;
  background-color: #d9d9d9;
} */
/* .sidenav a:active {
  color: #843477;
  background-color: #d9d9d9;
} */

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.date-first {
  text-align: end;
  color: black;
  /* height: auto; */
}

@media screen and (max-height: 450px) {
  .sidenav {
    /* padding-top: 15px; */
  }
  .sidenav a {
    /* font-size: 12px; */
  }
}


@media (min-width: 950px) {
  
}

@media (min-width: 601px) and (max-width: 950px) {
  .sidenav {
  height: 100%;
  width: 6rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #843477;
  overflow-x: hidden;
  padding-top: 30px;
  text-align: center;
  /* margin: 10px;
  padding: 20px; */
}

.sidenav a {
  padding: 23px 0px 20px 0px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  display: block;
}
}

@media (min-width: 401px) and (max-width: 600px) {
  .sidenav {
  height: 100%;
  width: 4rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #843477;
  overflow-x: hidden;
  padding-top: 30px;
  text-align: center;
  /* margin: 10px;
  padding: 20px; */
}

.sidenav a {
  padding: 23px 0px 20px 0px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  display: block;
}
}

@media (min-width: 361px) and (max-width: 400px) {
 .sidenav {
  height: 100%;
  width: 3rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #843477;
  overflow-x: hidden;
  padding-top: 30px;
  text-align: center;
  /* margin: 10px;
  padding: 20px; */
}
.sidenav a {
  padding: 23px 0px 20px 0px;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 500;
  color: #fff;
  display: block;
}
.iconic1 {
  color: #ffffff;
  font-size: 1rem;
  margin-left: 0.5rem;
}
}


