/* .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #843477;
  width: 8rem;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
}

.links{
    padding-top: 62px;
    text-decoration: none;
    color: white;
} */
* {
  margin: 0px;
}

#sidebar {
  /*Strictly Necessary */
  position: fixed;
  height: 100%;
  width: 30%;
  margin: 0px;

  /*Aesthetics*/
  background: lightblue;
  border-radius: 7px;
}

#rightSideWrapper {
  /*Strictly Necessary */
  width: 90%;
  float: right;

  /*Aesthetics*/
  /* background: black; */
}

header {
  /*Strictly Necessary */
  position: fixed;
  width: 100%;
  /* height: 100px; */
  /*Adjust the hight to your purposes*/

  /*Aesthetics*/
  /* background: lightSalmon;
  border-radius: 7px; */
}

.ContentBox {
  margin-top: 15px;
  margin-left: 20px;
  /*The height of the   header*/
  display: flex;
  flex-flow: row wrap;
}

main,
section,
footer {
  /*Aesthetics*/
  /* background: lightgray; */
  border-radius: 7px;
  margin-left: 10px;
  padding: 20px;
}

main {
  /*Strictly Necessary */
  /* height: 400px; */
  order: 1;
  flex: 0 1 100%;
}