@import "bootstrap";
@import "@fontsource/aclonica";

/* * {
  font-family: "Aclonica";
  font-style: normal;
  color: #fff;
} */

.reg-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
}

.img-form1 {
  display: none;
}

.register-text,
.second-text {
  font-family: "Aclonica";
  font-style: normal;
  font-weight: 3rem;
  font-size: 1.3rem;
  color: #000000;
  margin-top: 4rem;

  /* padding: 70pt; name styles well and use hyphen */
}

.second-text {
  font-size: 1rem;
  margin-top: 1.2rem;
}

.centralize-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* margin-left: 5rem; */
  justify-content: center;
}

.form-label1 {
  display: block;
  color: #011111;
  font-size: 1rem;
}

.form-input1 {
  text-indent: 2px;
  outline: none;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.form-input:focus {
  border: none;
}
/* .input {
  /* display: flex;
  width: 25.5rem; 
} */

.btn-text {
  padding: 0.875rem 1.75rem;
  font-size: 1.5rem;
  font-family: "Aclonica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.sign-link {
  text-decoration: underline;
  color: #ccc;
}

.signIn-link:hover {
  color: yellow;
}

.move {
  background-color: hsl(213, 10%, 78%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.labelise {
  font-weight: 0.8rem;
}

.btn1-primary,
.btn1-primary:active,
.btn1-primary:visited {
  background-color: #843477;
  color: #fcfcfc;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 6px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 2rem;
}

.btn1-primary:hover {
  background-color: wheat;
  color: black;
}

.img3-form {
  display: none;
}

/*media query */

@media (min-width: 1201px) {
  .img-form1 {
    display: block;
  }

  /* .move {
    /* margin-left: 3.5rem;
    margin-top: 5.5rem; 
  } */

  .img3-form {
    display: none;
    /* justify-content: flex-end; */
    /* margin-left: 60pt; */
    padding: 15pt;
    padding-top: 10pt;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .reg-wrapper {
    justify-content: space-between;
    align-items: center;
    background-color: hsl(213, 10%, 78%);
  }

  .form-input1 {
    width: 100%;
  }

  .register-text,
  .second-text {
    margin: 0 auto;
  }

  .centralize-form {
    margin-left: 3rem;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .reg-wrapper {
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 10%, 78%);
  }
  .form-input1 {
    width: 100%;
  }

  /* .move {
    margin-left: 3.5rem;
    margin-top: 3.5rem;
  } */

  .register-text,
  .second-text {
    margin-top: 3rem;
  }

  .centralize-form {
    margin-left: 3rem;
  }
}

@media (max-width: 400px) {
  .reg-wrapper {
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 10%, 78%);
  }
  .form-input1 {
    width: 100%;
  }

  .register-text,
  .second-text {
    margin-top: 3rem;
  }

  .centralize-form {
    margin-left: 3rem;
  }
}
