.set-text {
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 1.5rem;
}

.form-labels {
  display: block;
  color: #000;
  font-size: 1.1rem;
  margin-left: 1.5rem;
}

.form-inputs {
  text-indent: 2px;
  outline: none;
  width: 35rem;
  height: 2.5rem;
  border-radius: 5px;
  margin-left: 1.5rem;
}

.form-height1 {
  vertical-align: text-top;
  border: 0.2px solid lightgrey;
}

.set-btn {
  width: 35rem;
  height: 2.5rem;
  color: antiquewhite;
  background-color: #843477;
  justify-content: center;
  margin-top: 1.2rem;
  /* margin-left: 10rem; */
  border-radius: 5px;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1.5rem;
  border-color: antiquewhite;
}

.set-btn:hover {
  background-color: wheat;
  color: black;
}


.underline-style-settings::after {
  content: "";
  display: block;
  width: 7rem;
  height: 0.5rem;
  background-color: #ff1000;

  /* content: "";
  display: block;
  width: 8rem;
  padding-top: 3px;
  border-bottom: 0.9rem solid #ff1000; */
}


@media (min-width: 950px) {
}

@media (min-width: 601px) and (max-width: 950px) {
  .set-text {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: none;
    margin-left: 1.5rem;
  }

  .underline-style-settings::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff1000;
  }

  .form-labels {
    display: block;
    color: #000;
    font-size: 1rem;
    padding-bottom: 4px;
    margin-left: 1.5rem;
  }

  .form-inputs {
  text-indent: 1px;
  font-size: 0.96rem;
  outline: none;
  height: 2.5rem;
  border-radius: 5px;
  margin-left: 1.5rem;
  width: 500px;
  max-width: 600px;
  display: block;
}

  .set-btn {
    width: 500px;
    max-width: 100%;
    display: block;
  }
}

@media (min-width: 361px) and (max-width: 600px) {
  .set-text {
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: none;
    margin-left: 1.5rem;
  }

  .underline-style-settings::after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.3rem;
    background-color: #ff1000;
  }

  .form-labels {
    display: block;
    color: #000;
    font-size: 0.95rem;
    padding-bottom: 4px;
    margin-left: 1.5rem;
  }

  .form-inputs {
  text-indent: 1px;
  font-size: 0.96rem;
  outline: none;
  height: 2.5rem;
  border-radius: 5px;
  margin-left: 1.5rem;
  width: 400px;
  max-width: 600px;
  display: block;
}

  .set-btn {
    width: 400px;
    max-width: 100%;
    display: block;
  }
}
