.set-text {
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 1.5rem;
}

.form-labels {
  display: block;
  color: #000;
  font-size: 1.1rem;
}

.form-inputs {
  text-indent: 2px;
  outline: none;
  width: 35rem;
  height: 2.5rem;
  border-radius: 5px;
  margin-left: 1.5rem;
}

.form-height1 {
  vertical-align: text-top;
  border: 0.2px solid lightgrey;
}

.set-btn {
  width: 35rem;
  background-color: #843477;
  justify-content: center;
  margin-top: 1.2rem;
  margin-left: 1.5rem;
  /* margin-left: 10rem; */
  border-radius: 5px;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.underline-style-settings {
  border-bottom: 0.9rem solid #ff1000;
  line-height: 2rem;
}

.main-div-set {
  /* margin-left: 3rem; */
}
